body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.field label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 600;
}
